<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" >
    <meta charset="UTF-8">
    <title>MarkComment Check</title>
</head>
<body>

    <header>
        <h1>Test web service for GreenAtom</h1>
    </header>

    <div id="body">
        <h2>Test the web service: put in any film comment and you will know its rating</h2>
        <div id="form">
            <form action="/comment/" method="post">

                    {% csrf_token %}
                    {{ form }}
                     <input type="submit" value="Submit">
            </form>

            <div><p>{{ status }}</p></div>
            <div><p>{{ rating }}</p></div>
        </div>
    </div>

    <footer></footer>


</body>
</html>