<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" >
    <meta charset="UTF-8">
    <title>MarkComment Check</title>
</head>
<body>

    <header>
        <h1>Test web service for GreenAtom</h1>
    </header>

    <div id="body">
        <h2>Test the web service: put in any film comment and you will know its rating</h2>
        <div id="form">
            <form action="/comment/" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <p><input type="submit" value="Send"></p>
            </form>

            <div class="prediction"><p>{{ status }}</p></div>
            <div class="prediction"><p>{{ rating }}</p></div>
        </div>
    </div>

    <footer></footer>


</body>
</html>